<form (ngSubmit)="onSubmit()" #form>
    <app-control label="Title">
        <input 
            type="text"
            id="title" 
            name="title" 
            [(ngModel)]="enteredTitle"
        />
    </app-control>
    <app-control label="Request">
        <textarea 
            id="request" 
            name="request" 
            rows="3" 
            [(ngModel)]="enteredText"
        ></textarea>
    </app-control>
    <p>
        <button appButton>
            Submit
            <span ngProjectAs="icon">→</span>
        </button>
    </p>
</form>